<%- include('header') -%>

<h1>Atvinnuumsóknir</h1>

<div>
  <% applications.forEach((application) => { %>
    <h2> <%= application.name %> </h2>
    <p class="application__email"> <%= application.email %> </p>
    <p>Sími: <%= application.phone %> </p>
    <p>Umsókn send: <%= application.created %> </p>
    <p class="description"> <%= application.text %> </p>

    <form method="post" action="/applications/processed" id=<%= application.id %> >
      <button>Vinna umsókn</button>
      <% if(application.processed == true){ %>
        <p> ✔ Umsókn unnin <%= application.updated %></p>
      <% } %>
    
    </form>
  
    <form method="post" action="/applications/remove" id= <%= application.id %>>
      <button>Eyða umsókn</button>
    </form>
  <% }) %>
  

  </div>

<%- include('footer') -%>