<%- include('header') -%>

<h1>Atvinnuumsóknir</h1>

<div>
  <% applications.forEach((application) => { %>
    <h2> <%= application.name %> </h2>
    <p class="application__email"> <%= application.email %> </p>
    <p>Sími: <%= application.phone %> </p>
    <p>Umsókn send: <%= application.created %> </p>
    <p class="description"> <%= application.text %> </p>

    <form method="post" action="/update" id="update">
      <button>Vinna umsókn</button>
    
    </form>
  
    <form method="post" action="/applications" id= <% application.id %>>
      <button>Eyða umsókn</button>
    </form>
  <% }) %>
  

  </div>

<%- include('footer') -%>