<%- include('header') -%>

<h1>Atvinnuumsóknir</h1>

<div>
  <% applications.forEach((application) => { %>
    <h2> <%= application.name %> </h2>
    <p class="application__email"> <%= application.email %> </p>
    <p>Sími: <%= application.phone %> </p>
    <p>Umsókn send: <%= application.created %> </p>
    <p class="description"> <%= application.text %> </p>
  <% }) %>
</div>

<%- include('footer') -%>