<h1>Atvinnuumsókn</h1>
<form methood="post" action="/">
  <label for="name">Nafn</label>
  <input id="name" name="name" value="<%= name %>">

  <label for="email">Netfang</label>
  <input id="email" name="email" value="<%= email %>">

  <label for="phone">Sími</label>
  <input id="phone" name="phone" value="<%= phone %>">

  <label for="text">Kynning á þér</label>
  <input id="text" name="text" value="<%= text %>">

  <h2>Starf sem sótt er um</h2>
  
  <input type="radio" name="programmer" value="job"> Forritari
  <input type="radio" name="designer" value="job"> Hönnuður
  <input type="radio" name="project__manager" value="job"> Verkefnastjóri


  <button>Senda umsókn</button>

  <ul>
    <% errors.forEach((error) => { %>
      <li><%= error %></li>
    <% }) %>
  </ul>
</form>