<%- include('header') -%>
<div class="content">
  <h1>Atvinnuumsókn</h1>
  <form method="post" action="/" class="row">
    <div class="col__apply">
      <label class="apply__label" for="name">Nafn</label>
      <input class="<%= locals.checkInvalid('name', errors) ?  'invalid' : '' %>" id="name" name="name" value="<%= data.name %>">
    </div>
    <div class="col__apply">
      <label class="apply__label" for="email">Netfang</label>
      <input class="<%= locals.checkInvalid('email', errors) ?  'invalid' : '' %>"  id="email" name="email" value="<%= data.email %>">
    </div>
    <div class="col__apply">
      <label class="apply__label" for="phone">Sími</label>
      <input class="<%= locals.checkInvalid('phone', errors) ?  'invalid' : '' %>" id="phone" name="phone" value="<%= data.phone %>">
    </div>
    <div class="col__apply">
      <label class="apply__label" for="text">Kynning á þér</label>
      <input class="<%= locals.checkInvalid('text', errors) ?  'invalid' : '' %>" type="text" id="text" name="text" value="<%= data.text %>">
    </div>
    <div class="col">
      <h2>Starf sem sótt er um</h2>
    </div>
    <div class="col">
      <label class="<%= locals.checkInvalid('job', errors) ?  'invalid' : '' %>"><input type="radio" name="job" value="forritari"> Forritari </label>
    </div>
    <div class="col">
      <label class="<%= locals.checkInvalid('job', errors) ?  'invalid' : '' %>"><input type="radio" name="job" value="hönnuður"> Hönnuður</label>
    </div>
    <div class="col">
      <label class="<%= locals.checkInvalid('job', errors) ?  'invalid' : '' %>"><input type="radio" name="job" value="verkefnastjóri"> Verkefnastjóri </label>
    </div>
    <div class="col">
      <button>Senda umsókn</button>
    </div>

    <div class="col">

      <% if(errors.length !== 0) { %>
        <h2>Vandræði við að senda umsókn</h2>
      <% } %>

      <ul>
        <% errors.forEach((error) => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
  </form>
</div>
<%- include('footer') -%>